h1{
    color: white;
}

.indecision { 
   
    padding:10px;
    position:absolute;
    top:70%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
width: 300px;
}
.add-button{
    padding:10px;
    color:rgb(53, 47, 47);
    border-radius: 30%;
    width:80px;
    position:absolute;
    top:70%;
    border:none;
    cursor: pointer;
    left:65%;
    text-align: center;
    transform: translate(-50%,-50%);
    border:3px solid black;
    

}

.frst-button
{color:black;
    font-size: 25px;
    font-weight: bold;
    background-color: violet;
    padding:40px;
    width:400px;
position:absolute;
top:20%;
left:50%;
text-align: center;
transform: translate(-50%,-50%);
}

 .list1{
    list-style-type:none;
    border:2px solid black;
    border-radius: 10px;
    background-color: gray; padding:10px;
    position:absolute;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:5px;
    margin-bottom: 4px;
    
    top:55%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
width: 300px;
word-wrap:break-word;

}
.delete
{
    margin-top:5px ;
    float: right;
    padding:4px 10px 4px 10px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    background-color:rebeccapurple;
    top:70%;
    left:65%;
    
}